.blog-entry-container {
    padding: 20px;
    height: 88vh;
    overflow-y: auto;
  }
  
  .entry-date {
    font-size: 14px;
    color: #888;
  }
  
  .entry-category {
    font-size: 14px;
    color: #555;
  }
  
  .entry-content {
    margin-top: 20px;
    line-height: 1.6;
  }
  
  .entry-image {
    width: 100%;
    margin-top: 20px;
  }
  
  .entry-tags {
    margin-top: 20px;
  }
  
  .tag {
    background-color: #eee;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 4px;
  }
  
  .entry-links {
    margin-top: 20px;
  }
  
  .link-card {
    background-color: #0077b5;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center; /* Center the text and icon vertically */
  }
  
  .link-card i {
    margin-right: 8px; /* Add some space between the icon and the text */
  }
  
  .link-card:hover {
    background-color: #005582;
  }

  
  .images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .blog-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .images-container {
      grid-template-columns: 1fr; /* Switch to one column for smaller screens */
    }
  }
  