.sidebar-container {
  flex: 1;
  padding: 20px;
  border-right: 2px solid #ddd;
  height: 89vh;
}

.search-bar {
  width: 90%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  border-width: 1px;
}

.date-filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}

.date-input {
  padding: 6px;
  margin-bottom: 10px;
  width: 90%;
  border-radius: 8px;
  border-width: 1px;
}

.entry-list {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
}

.entry-list li {
  cursor: pointer;
  margin-bottom: 10px;
}

.entry-title {
  font-weight: bold;
}

.entry-date {
  font-size: 12px;
  color: #666;
}
