@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-Bold.ttf') format('truetype');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Pixelify Sans', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', monospace;
}
